bigbluebutton-conf:
  hosts:
    meetings.theworkingcentre.org:
      freeswitch:
        default_password: '1234' 
      sip:
        # The format for the sip URI should be something like 
        # sip:5558675309@meetings.theworkingcentre.org:5060
        did: '5558675309'
        did_readable: '555-867-5309'
      stun_server:
        name: stun.freeswitch.org
        ip: 216.93.246.18
      turn_server:
        name: turn.example.com
        ip: '172.16.0.33'       # Use a real, public IP
        auth_secret: '22a86a52d6965f2431159fd059916311'
      greenlight:
        postgres_password: 22a86a52d6965f24
        secret_key_base: 45669d696f6248636d773142b189d41ed8674946572cb5eb7bb0d54335397d81
        bbb_secret: 'LKJDjkh28jkdsds2bdLKj32ESFLHDkjh3RFSKF2RFS'
        smtp_sender_name: registrations
      room_redirects:
        # These are NGINX redirects for specific rooms
        chat: it--gh2-u8l
        seminar: it--gh2-u8g
        sandbox: it--iix-4j4
